body {
    background-color: rgba(211, 211, 222, 0.305);
}
img {
    width: 100%; 
    max-width: 200px;
}
.title {
    color: #5c8badef;
    font-size: 2em;
}
.title-second {
    color: #23445cef;
    font-size: 20px;
}
.container-first {
    width: 60vw;
}
.container-second {
    background-color: white;
    box-shadow: 2px 5px rgba(130, 100, 194, 0.2);
    width: 100%;
    padding: 10px;
}
input {
    max-width: 70%;
}
.checkButton {
    border: none;
    outline: none;
    border-radius: 15px;
    color: #23445cef;
    background-color: rgba(192, 174, 179, 0.615);
    width: 100%; 
    max-width: 20%;
    cursor: pointer;
    overflow: hidden;
}
.checkButton:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(161, 83, 104, 0.615);
    color: rgb(255, 255, 255);
    opacity: 0.8;
} 
.checkButton:active,
.checkButton:focus {
    background-color: #9c4ea096 !important; 
    color: white !important;
}
.wrong, .correct {
    color:  rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 15px;
    width: 65%;
    overflow: hidden;
}
@media (max-width: 768px) {
    .container-first {
        width: 85vw;
    }
    .title{
        font-size: 1.5em;
    }
    .title-second {
        font-size: 17px;
    }
    .checkButton {
        max-width: 100px;
    }
}